/node_modules
/uploads
/static/js/passwords.js
node_modules
.DS_Store
static/.DS_Store
/update_database_scripts/rawGWASAncestries.tsv
/update_database_scripts/rawGWASPublications.tsv
/update_database_scripts/rawGWASStudyData.tsv